<nav
  class="nav-grid main-nav flex flex-dir-col flex-just-cont-start oswald-400"
>
  <div class="flex flex-dir-col flex-al-it-center">
    <p class="sec-color">Music Manager</p>
  </div>

  <div class="flex flex-dir-col flex-just-cont-center flex-al-it-center">
    <a class="link clickable prim-color" href="/">Dashboard</a>
  </div>

  <div class="flex flex-dir-col flex-just-cont-center flex-al-it-center">
    <p class="sec-color">Category</p>
    <a class="link clickable" href="/category/artists">Artists</a>
    <a class="link clickable" href="/category/albums">Albums</a>
    <a class="link clickable" href="/category/genres">Genres</a>
    <a class="link clickable" href="/category/labels">Labels</a>
    <a class="link clickable" href="/category/releases">All releases</a>
  </div>

  <div class="flex flex-dir-col flex-just-cont-center flex-al-it-center">
    <p class="sec-color">Add new</p>
    <a class="link clickable" href="/artists/create">Artist</a>
    <a class="link clickable" href="/albums/create">Album</a>
    <a class="link clickable" href="/genres/create">Genre</a>
    <a class="link clickable" href="/labels/create">Label</a>
    <a class="link clickable" href="/releases/create">Release</a>
  </div>
</nav>
