

  <% dynaData.forEach((data) => { %>
    <div class="flex flex-dir-col flex-just-cont-center flex-al-it-center flex-basis clickable">
      <a href="<%= route%>/<%=data.id%>"><img class="img-container" src="<%= data.imageurl %>" alt=""> </a>
      <span><%= data.title %>
    
    </div>
      
  <% }) %>