<% dynaData.forEach((data) => { %>
    <div class="flex flex-dir-col flex-just-cont-center flex-al-it-center">
      <a href="<%= route%>/<%=data.id%>"><span><%= data.name %></span> </a>
    </div>
      
  <% }) %>